{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block styles %}

{{ super() }}

<link rel="stylesheet"href="{{url_for('static', filename='css/cadastro_loja.css')}}">
{% endblock %}

{% block title %}
    Cadastro de Loja - CSS
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('dashboard') }}">CSS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{ url_for('dashboard') }}">Dashboard</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Estoque
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-brand" href="{{ url_for('form_cadastro_estoque') }}">Cadastro de Estoque</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Produto
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-brand" href="{{ url_for('form_cadastro_produto') }}">Cadastro de Produto</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Kit
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-brand" href="{{ url_for('form_cadastro_kit') }}">Cadastro de Kit</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Loja
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-brand" href="{{ url_for('form_cadastro_loja') }}">Cadastro de Loja</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Usuário
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-brand" href="{{ url_for('cadastro_usuario') }}">Cadastro de Usuário</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="btn btn-success">Sair</button>
            </form>
            <a class="navbar-brand navbar-right" href="{{ url_for('dashboard') }}">Olá, {{ current_user.nome }}</a>
      </div>
    </div>
</nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="false">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <form class="form-horizontal" name="formLoja" action="{{ url_for('cadastrar_loja') }}" method="POST">
            <h1>Cadastro de Loja</h1>
            <div class="form-group required">
                <label class="control-label" for="id_loja">Código da Loja</label>
                <input class="form-control" id="id_loja" name="id_loja" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="razao_social">Razão Social</label>
                <input class="form-control" id="razao_social" name="razao_social" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="nome_fantasia">Nome Fantásia</label>
                <input class="form-control" id="nome_fantasia" name="nome_fantasia" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="cnpj">CNPJ</label>
                <input class="form-control" id="cnpj" name="cnpj" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="logradouro">Logradouro</label>
                <input class="form-control" id="logradouro" name="logradouro" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="numero_logradouro">Nº </label>
                <input class="form-control" id="numero_logradouro" name="numero_logradouro" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="cep">CEP</label>
                <input class="form-control" id="cep" name="cep" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="inscricao_estadual">Inscrição Estadual</label>
                <input class="form-control" id="inscricao_estadual" name="inscricao_estadual" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="email">E-mail</label>
                <input class="form-control" id="email" name="email" required type="text">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        </form>
    </div>
{% endblock %}