{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block styles %}

{{ super() }}

<link rel="stylesheet"href="{{url_for('static', filename='css/cadastro_usuario.css')}}">
{% endblock %}

{% block title %}
    Cadastro de Usuário - CSS
{% endblock %}

{% block content %}
{% include "template_menu.html" %}
</div>
    <div class="container">
        <form class="form-horizontal" method="POST">
            <h1>Cadastro de Usuario</h1>
            {{form.csrf_token}}
            {{wtf.form_field(form.nome)}}
            {{wtf.form_field(form.sobrenome)}}
            {{wtf.form_field(form.email)}}
            {{wtf.form_field(form.login)}}
            {{wtf.form_field(form.senha)}}
            {{wtf.form_field(form.permissao)}}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/notificacoes.js') }}"></script>
{{ super() }}
{% endblock %}