{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block styles %}

{{ super() }}

<link rel="stylesheet"href="{{url_for('static', filename='css/cadastro_produto.css')}}">
{% endblock %}

{% block title %}
    Cadastro de Produto - CSS
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('dashboard') }}">CSS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{ url_for('dashboard') }}">Dashboard</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Estoque
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-brand" href="{{ url_for('form_cadastro_estoque') }}">Cadastro de Estoque</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Produto
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-brand" href="{{ url_for('form_cadastro_produto') }}">Cadastro de Produto</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Kit
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-brand" href="{{ url_for('form_cadastro_kit') }}">Cadastro de Kit</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Loja
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-brand" href="{{ url_for('form_cadastro_loja') }}">Cadastro de Loja</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Usuário
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-brand" href="{{ url_for('cadastro_usuario') }}">Cadastro de Usuário</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="btn btn-success">Sair</button>
            </form>
            <div class="dropdown notification-dropdown">
                <a class="dropdown-toggle navbar-brand navbar-right notification-button" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="glyphicon glyphicon-bell"></i><span class="counter counter-lg">10</span>&nbsp;&nbsp;     
                </a>
                <ul class="dropdown-menu notifications" role="menu">
                    <div class="notification-heading"><h4 class="menu-title">Notificações</h4><h4 class="menu-title pull-right">Ver tudo<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>
                        <li class="divider"></li>
                        <div class="notification-wrapper">
                            <a class="content" href="#">
                                <div class="notification-item">
                                    <h4 class="item-title"></h4>
                                    <p class="item-info"></p>
                                </div>
                            </a>
                        </div>
                        <li class="divider"></li>
                        <div class="notification-footer"><h4 class="menu-title">Ver tudo<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>
                    </div>
                </ul>
                <a class="navbar-brand navbar-right" href="{{ url_for('dashboard') }}">Olá, {{ current_user.nome }}</a>
            </div>
            
      </div>
    </div>
</nav>
<div class="container mensagem">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="false">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
    <div class="container">
        <form class="form-horizontal" action="{{ url_for('cadastrar_produto') }}" method="POST">
            <h1>Cadastro de Produto</h1>
            <div class="form-group required">
                <label class="control-label" for="nome">Nome do Produto</label>
                <input class="form-control" id="nome" name="nome" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="preco">Preço</label>
                <input class="form-control" id="preco" name="preco" required type="number" step=".01">     
            </div>
            <div class="form-group">
                <label class="control-label" for="tipo">Tipo</label>
                <select class="form-control" id="tipo" name="tipo">
                    {% for tipo in tipos_produto %}
                        <option value={{ tipo }}>{{ tipo }}</option>
                    {% endfor %} 
                </select>   
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        </form>
    </div>
{% endblock %}