{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block styles %}

{{ super() }}

<link rel="stylesheet"href="{{url_for('static', filename='css/cadastro_loja.css')}}">
{% endblock %}

{% block title %}
    Cadastro de Loja - CSS
{% endblock %}

{% block content %}
{% include "template_menu.html" %}
</div>
    <div class="container">
        <form class="form-horizontal" name="formLoja" action="{{ url_for('cadastrar_loja') }}" method="POST">
            <h1>Cadastro de Loja</h1>
            <div class="form-group required">
                <label class="control-label" for="id_loja">Código da Loja</label>
                <input class="form-control" id="id_loja" name="id_loja" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="razao_social">Razão Social</label>
                <input class="form-control" id="razao_social" name="razao_social" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="nome_fantasia">Nome Fantásia</label>
                <input class="form-control" id="nome_fantasia" name="nome_fantasia" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="cnpj">CNPJ</label>
                <input class="form-control" id="cnpj" name="cnpj" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="logradouro">Logradouro</label>
                <input class="form-control" id="logradouro" name="logradouro" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="numero_logradouro">Nº </label>
                <input class="form-control" id="numero_logradouro" name="numero_logradouro" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="cep">CEP</label>
                <input class="form-control" id="cep" name="cep" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="inscricao_estadual">Inscrição Estadual</label>
                <input class="form-control" id="inscricao_estadual" name="inscricao_estadual" required type="text">
            </div>
            <div class="form-group required">
                <label class="control-label" for="email">E-mail</label>
                <input class="form-control" id="email" name="email" required type="text">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/notificacoes.js') }}"></script>
{{ super() }}
{% endblock %}