{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block styles %}

{{ super() }}

<link rel="stylesheet"href="{{url_for('static', filename='css/editar_usuario.css')}}">
{% endblock %}

{% block title %}
    Editar Usuário - CSS
{% endblock %}

{% block content %}
{% include "template_menu.html" %}
</div>
    <div class="container">
        <h1>Editar Usuário</h1>
            <form name="formEstoque" class="form-horizontal" action="{{ url_for('atualizar_usuario') }}" method="POST">
                            <div class="container usuario">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="nome">Nome</label>
                                        <input class="form-control" id="nome" name="nome" required type="text" value="{{ usuario['nome'] }}">   
                                    </div>  
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="sobrenome">sobrenome</label> 
                                        <input class="form-control" id="sobrenome" name="sobrenome" required type="text" value="{{ usuario['sobrenome'] }}">   
                                    </div>    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="email">E-mail</label>
                                        <input class="form-control" id="email" name="email" required type="email" value="{{ usuario['email'] }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="login">Login</label>
                                        <input class="form-control" id="login" name="login" required type="text" value="{{ usuario['login'] }}" readonly=“true”>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="senha">Senha</label>
                                        <input class="form-control" id="senha" name="senha" required type="password" value="{{ usuario['senha'] }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="permissao">Permissão</label> 
                                            <select class="form-control" id="permissao" name="permissao">
                                                {% for permissao in permissoes %}
                                                    <option value="{{ usuario['permissao'] }}">{{ permissao }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                </div>   
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-lg btn-primary btn-block" id="atualizar-produto" type="submit">Atualizar Usuário</button>
                </div>
            </form>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/notificacoes.js') }}"></script>
{{ super() }}
{% endblock %}
