{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block styles %}

{{ super() }}

<link rel="stylesheet"href="{{url_for('static', filename='css/gerenciamento_estoque.css')}}">
{% endblock %}

{% block title %}
    Editar Lote - CSS
{% endblock %}

{% block content %}
{% include "template_menu.html" %}
</div>
    <div class="container">
        <h1>Editar Lote</h1>
        {% set count = namespace(value=0) %}
            <form name="formEstoque" class="form-horizontal" action="{{ url_for('atualizar_quantiade') }}" method="POST">
                <div class="container lote" id="produtos">
                    <div class="container info-produto" id="info-produto">
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class="control-label" for="loja">Loja</label> 
                                <input class="form-control" id="loja" name="loja" required type="text" value="{{ lotes['loja'] }}" readonly=“true”>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class="control-label" for="codigo_lote">Código do Lote</label>
                                <input class="form-control" id="codigo_lote" name="codigo_lote" required type="text" value="{{ lotes['codigo_lote'] }}" readonly=“true”> 
                            </div>
                        </div>
                    </div>
                        {% for produto in lotes['produtos'].values() %}
                            {% set count.value = count.value + 1 %}
                            <div class="container produtos">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="tipo{{ count.value }}">Tipo</label>
                                        <input class="form-control" id="tipo{{ count.value }}" name="tipo{{ count.value }}" required type="text" value="{{ produto['tipo'] }}" readonly=“true”>   
                                    </div>  
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="produto{{ count.value }}">Nome do Produto</label> 
                                        <input class="form-control" id="produto{{ count.value }}" name="produto{{ count.value }}" required type="text" value="{{ produto['nome'] }}" readonly=“true”>   
                                    </div>    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="quantidade{{ count.value }}">Quantidade</label>
                                        <input class="form-control" id="quantidade{{ count.value }}" name="quantidade{{ count.value }}" min="0" max="{{ produto['quantidade'] }}" required type="number" value="{{ produto['quantidade'] }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="data_validade{{ count.value }}">Data de Validade</label>
                                        <input class="form-control" id="data_validade{{ count.value }}" name="data_validade{{ count.value }}" required type="date" value="{{ produto['data_validade'] }}" readonly=“true”>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-xs-4">
                            <button class="btn btn-lg btn-primary btn-block" id="atualizar-produto" type="submit">Atualizar Quantidade</button>
                        </div>
                </div>
            </form>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/notificacoes.js') }}"></script>
{{ super() }}
{% endblock %}
