
<!DOCTYPE html>
<html lang="br-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    
<form action="/Gerenciamento de estoque" method="post,get">
    
    
    <div id="area">
        <form id="formulario" autocomplete="off">
            <fieldset>
                <legend>Gerenciador de estoque </legend>
        
            <div>
                <label for="">Codigo da loja:</label>
                <input type="text" class="input-padrao" required placeholder="2702" />

            </div>/;}~

            [´]~pçiky

            <div>
                
                <label for="nome">Nome do Produto :</label> 
                <input type="text" class="input-padrao" required placeholder ="Trufa de morango" /> 

                <label for="codigo do produto">Codigo do produto:</label>
                <input type ="text" class="input-padrao" required placeholder = "1234567" ></label>
                    
                <label for="msg">Quantidade:</label>
                <input type="text" class="input-padrao" required placeholder="0" />
                            
            </div>
            <div>
                <label for="data de validade">Data de validade:</label>
                <input type = "text" class="input-padrao" required placeholder =" 21/01/2020" />
            </div>


                
            <div class="button">
                <p><button type="submit">Remover produtos do lote </button></p>
            </div>
            </fieldset> 
</form>
</body>
</html>
