{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block styles %}

{{ super() }}

<link rel="stylesheet"href="{{url_for('static', filename='css/gerenciamento_usuario.css')}}">
{% endblock %}

{% block title %}
    Gerenciamento de Usuários - CSS
{% endblock %}

{% block content %}
{% include "template_menu.html" %}
</div>
    <div class="container">
        <h1>Gerenciamento de Usuários</h1>
        {% set count = namespace(value=0) %}
        {% for usuario in usuarios.values() %}
            {% set count.value = count.value + 1 %}
            <form name="formEstoque" class="form-horizontal" action="{{ url_for('editar_usuario') }}" method="POST">
                <div class="container lote" id="usuarios">
                            <div class="container info-usuario">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="nome{{ count.value }}">Nome</label>
                                        <input class="form-control" id="nome{{ count.value }}" name="nome{{ count.value }}" required type="text" value="{{ usuario['nome'] }}" readonly=“true”>   
                                    </div>  
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="sobrenome{{ count.value }}">sobrenome</label> 
                                        <input class="form-control" id="sobrenome{{ count.value }}" name="sobrenome{{ count.value }}" required type="text" value="{{ usuario['sobrenome'] }}" readonly=“true”>   
                                    </div>    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="email{{ count.value }}">E-mail</label>
                                        <input class="form-control" id="email{{ count.value }}" name="email{{ count.value }}" required type="email" value="{{ usuario['email'] }}" readonly=“true”>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="login{{ count.value }}">Login</label>
                                        <input class="form-control" id="login{{ count.value }}" name="login{{ count.value }}" required type="text" value="{{ usuario['login'] }}" readonly=“true”>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="senha{{ count.value }}">Senha</label>
                                        <input class="form-control" id="senha{{ count.value }}" name="senha{{ count.value }}" required type="password" value="{{ usuario['senha'] }}" readonly=“true”>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="permissao{{ count.value }}">Permissão</label>
                                        <input class="form-control" id="permissao{{ count.value }}" name="permissao{{ count.value }}" required type="text" value="{{ usuario['permissao'] }}" readonly=“true”>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <button class="btn btn-lg btn-danger btn-block" id="remover-produto" type="submit">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    Editar Usuário
                                </button>
                            </div>  
                </div>
            </form>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/notificacoes.js') }}"></script>
{{ super() }}
{% endblock %}
