<!DOCTYPE html>
<html lang="br-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    
<form action="/Gerenciamento de loja" method="post,get">
    
    
    <div id="area">
        <form id="formulario" autocomplete="off">
            <fieldset>
                <legend>Gerenciador de loja </legend>
        
            <div>
                <label for="">Codigo da loja:</label>
                <input type="text" class="input-padrao" required placeholder="2702" />

            </div>