{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block styles %}

{{ super() }}

<link rel="stylesheet"href="{{url_for('static', filename='css/gerenciamento_kit.css')}}">
{% endblock %}

{% block title %}
    Gerenciamento de Kit - CSS
{% endblock %}

{% block content %}
{% include "template_menu.html" %}
</div>
    <div class="container">
        <h1>Gerenciamento de Kit</h1>
        <div class="container">
            <form name="formEstoque" class="form-horizontal" action="{{ url_for('pesquisa_kit') }}" method="POST">
                <label class="control-label" for="filtro_pesquisa">Filtro da Pesquisa</label> 
                <select class="form-control" id="filtro_pesquisa" name="filtro_pesquisa">
                    <option value="Código">Código</option>
                    <option value="Nome">Nome</option>
                </select>
                <label class="control-label" for="campo_pesquisa"></label>
                <input class="form-control" id="campo_pesquisa" name="campo_pesquisa" required type="text" placeholder="Pesquise um lote por Código ou Nome">
                <div class="col-xs-4">
                    <button class="btn btn-lg btn-primary btn-block" id="cadastrar-produto" type="submit">Pesquisar</button>
                </div>
            </form>
        </div>
        {% set count = namespace(value=0) %}
        {% for kit in kits.values() %}
            {% set count.value = count.value + 1 %}
            <form name="formEstoque" class="form-horizontal" action="{{ url_for('editar_kit') }}" method="POST">
                <div class="container kit" id="kits">
                    <div class="container info-kit" id="info-kit">
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label class="control-label" for="codigo_kit">Código</label> 
                                <input class="form-control" id="codigo_kit" name="codigo_kit" required type="text" value="{{ kit['codigo'] }}" readonly=“true”>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label class="control-label" for="nome_kit">Nome</label>
                                <input class="form-control" id="nome_kit" name="nome_kit" required type="text" value="{{ kit['nome'] }}" readonly=“true”> 
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label class="control-label" for="quantidade">Quantidade</label>
                                <input class="form-control" id="quantidade" name="quantidade" required type="text" value="{{ kit['quantidade'] }}" readonly=“true”> 
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label class="control-label" for="data_validade">Data de Validade</label>
                                <input class="form-control" id="data_validade" name="data_validade" required type="text" value="{{ kit['data_validade'] }}" readonly=“true”> 
                            </div>
                        </div>
                    </div>
                    {% set count_prod = namespace(value=0) %}
                            <div class="container produtos">
                                <div class="col-md-12">
                                        <div class="form-group required">
                                            <label class="control-label" for="produto{{ count_prod.value }}">Produtos</label>
                                            {% for produto in kit['produtos'].values() %}
                                                <input class="form-control" id="produto{{ count_prod.value }}" name="produto{{ count_prod.value }}" required type="text" value="{{ produto }}" readonly=“true”>
                                                {% set count_prod.value = count_prod.value + 1 %}  
                                            {% endfor %} 
                                        </div>  
                                </div>
                            <div class="col-md-6 col-md-offset-3">
                                <button class="btn btn-lg btn-danger btn-block" id="remover-produto" type="submit">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    Remover Quantidade Kit
                                </button>
                            </div>  
                </div>
            </form>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/notificacoes.js') }}"></script>
{{ super() }}
{% endblock %}
