{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block styles %}

{{ super() }}

<link rel="stylesheet"href="{{url_for('static', filename='css/gerenciamento_loja.css')}}">
{% endblock %}

{% block title %}
    Gerenciamento de loja - CSS
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('dashboard') }}">CSS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{ url_for('dashboard') }}">Dashboard</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Estoque
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                        <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-brand" href="{{ url_for('form_cadastro_loja') }}">Cadastro de Loja</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('dashboard') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Usuário
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        
                <a class="navbar-brand navbar-right" href="{{ url_for('dashboard') }}">Olá, {{ current_user.nome }}</a>
            </div>
            
      </div>
    </div>
</nav>
<div class="container mensagem">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="false">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
    <div class="container">
        <h1>Gerenciamento de Estoque</h1>
        {% for lote in estoque.values() %}
            <form name="formEstoque" class="form-horizontal" action="{{ url_for('editar_estoque') }}" method="POST">
                <div class="container" id="produtos">
                    <div class="container info-produto" id="info-produto1">
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class="control-label" for="loja">Loja</label> 
                                <input class="form-control" id="codigo_lote" name="codigo_lote" required type="text" value="{{ lote['loja'] }}" readonly=“true”>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class="control-label" for="codigo_lote">Código do Lote</label>
                                <input class="form-control" id="codigo_lote" name="codigo_lote" required type="text" value="{{ lote['codigo_lote'] }}" readonly=“true”> 
                            </div>
                        </div>
                        {% for produto in lote['produtos'].values() %}
                            <div class="container produtos">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="tipo">Tipo</label>
                                        <input class="form-control" id="tipo" name="tipo" required type="text" value="{{ produto['tipo'] }}" readonly=“true”>   
                                    </div>  
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="produto1">Nome do Produto</label> 
                                        <input class="form-control" id="produto1" name="produto1" required type="text" value="{{ produto['produto'] }}" readonly=“true”>   
                                    </div>    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="quantidade1">Quantidade</label>
                                        <input class="form-control" id="quantidade1" name="quantidade1" required type="number" value="{{ produto['quantidade'] }}" readonly=“true”>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="data_validade1">Data de Validade</label>
                                        <input class="form-control" id="data_validade1" name="data_validade1" required type="date" value="{{ produto['data_validade'] }}" readonly=“true”>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-md-offset-10">
                                <button class="btn btn-lg btn-danger btn-block" id="remover-produto" type="button">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    Remover Produto
                                </button>
                            </div>  
                    </div>
            </form>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/notificacoes.js') }}"></script>
{{ super() }}
{% endblock %}
