{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block styles %}

{{ super() }}

<link rel="stylesheet"href="{{url_for('static', filename='css/notificacoes.css')}}">
{% endblock %}

{% block title %}
    Dashboard - CSS
{% endblock %}

{% block content %}
{% include "template_menu.html" %}
</div>
<div class="container">
    <ul class="menu notifications" role="rowgroup">
        <div class="notification-heading">
            <h1 class="title">Notificações</h1>
        {% for notificacao in notificacoes %}
            <div class="notification-wrapper">
                <a class="content" href="#">
                    <div class="notification-item">
                        <h4 class="item-title">{{ notificacao.assunto_notificacao }}</h4>
                        <p class="item-info">{{ notificacao.info_notificacao }}</p>
                        <p class="item-info">Data/Horário: {{ notificacao.data_notificacao }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </ul>
</div>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/notificacoes.js') }}"></script>
{{ super() }}
{% endblock %}